@font-face {
  font-family: 'A-Serif';
  src: url('../fonts/A-Light.eot');
  src: url('../fonts/A-Light.woff2') format('woff2'), 
       url('../fonts/A-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'A-Serif';
  src: url('../fonts/A-LightItalic.eot');
  src: url('../fonts/A-LightItalic.woff2') format('woff2'), 
       url('../fonts/A-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'A-Serif';
  src: url('../fonts/A-Bold.eot'); 
  src: url('../fonts/A-Bold.woff2') format('woff2'), 
       url('../fonts/A-Bold.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'A-Serif';
  src: url('../fonts/A-BoldItalic.eot'); 
  src: url('../fonts/A-BoldItalic.woff2') format('woff2'), 
       url('../fonts/A-BoldItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'A-Serif';
  src: url('../fonts/A-Thin.eot');
  src: url('../fonts/A-Thin.woff2') format('woff2'), 
       url('../fonts/A-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'A-Serif';
  src: url('../fonts/A-ThinItalic.eot');
  src: url('../fonts/A-ThinItalic.woff2') format('woff2'), 
       url('../fonts/A-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}

html {
	height: 100%;
}
body {
	height: 100%;
	font-family: "A-Serif", "Helvetica Neue", "Yantramanav";
	color: #101626;
	background-color: #ffffff;
}
#loading-overlay{
  position:fixed;
  z-index:99999;
  top:0;
  left:0;
  bottom:0;
  right:0;
  transition: 1s 0.4s;
}
#loading-progress{
  height:2px;
  background:#33C3F0;
  position:absolute;
  width:0;
  top:0;
}
#loading-progstat{
  display: none
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.center {
  text-align: center;
}
.announcement {
  text-align: center;
  color: #fff;
  background-color: #4967B3;
}
.portfolio-link {
  margin-top: 20px;
  float: right;
}
.portfolio-link a {
  color: #33C3F0;
  border: none;
}
.kyle-blue {
	color: #33C3F0;
}
.kyle-white {
	color: #FFFFFA;
}
.gone-blue {
  color: #44b6ff;
}
.gray {
  color: #909090;
}
.kyle-gray {
  color: #B7B9BE;
}
.smaller {
  font-size: .9em
}
.kyle-shadow {
  border-radius: 4px;
  -webkit-box-shadow: 0px 12px 48px -16px rgba(135,135,135,1);
  -moz-box-shadow: 0px 12px 48px -16px rgba(135,135,135,1);
  box-shadow: 0px 12px 48px -16px rgba(135,135,135,1);
}
.shadow {
  border: 1px solid #E0E3E4;
/*   -webkit-box-shadow: 3px 3px 10px 1px rgba(0,0,0,0.15);
-moz-box-shadow: 3px 3px 10px 1px rgba(0,0,0,0.15);
box-shadow: 3px 3px 10px 1px rgba(0,0,0,0.15);
 */}
h1, h2 {
	font-weight: 900;
}
h3 {
  font-weight: 100;
}
a {
	text-decoration: none;
	color: #33C3F0;
}
a:hover {
	color: #1EAEDB;
}
.hero-container {
	display: block;
	position: relative;
	height: 80%;
}
.stratifi-container img {
  border: 1px solid #eee;
}
.portfolio-item {
	width: 100%;
}
.cover {
	display: inline-block;
	float: left;
	width: 50px;
	height: 50px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	margin: 5px;
}
.track {
	float: left;
	display: inline-block;	
	text-align: left;
	padding: 10px 0px 0px 5px;
	height: 100%;
  line-height: 21px;
}
@media (max-width: 380px) {
  .track {
    max-width: 20%;
    white-space: nowrap;
  }
  
}
@media (max-width: 630px) {
  h1 {
    font-size: 56px;
  }
}
.close {
	float: right;
}
#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   width:100%;
   background:#ffffff;
   border-top: 1px solid #eee;
}
#footer a {
  color: #101626;
}
#footer a:hover {
  color: #5477CF;
}
/* IE 6 */
* html #footer {
   position:absolute;
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}
.close {
  background-color: #fffffa;
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  overflow: hidden;
  margin: 15px 20px;
}
.white-bg {
  background-color: #fffffa;
}
.close:hover {
	cursor: pointer;
}
.close:hover::before, .close:hover::after {
  background: #4967B3;

}
.close::before, .close::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: #CBCDD0;
}
.close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.close.pointy::Before, .close.pointy::after {
  width: 200%;
  left: -50%;
}
.sidebar-image {
  text-align: center;
}
.sidebar-image img{
  width: 100%;
  max-width: 1260px;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes slideInUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}
#footer {
	-webkit-animation-delay: 3s;
	-moz-animation-delay: 3s;
	animation-delay: 3s;
}
.space {
  height: 96px;
}
.half-space {
  height: 46px;
}
.img-responsive {
  width: 100%;
}
.spacing {
  padding-top: 15%;
  padding-bottom: 15%;
}